<br>
<div class="container row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>

<hr>

<div class="row">
    <div class="col">
        <a href="#" class="list-group-item clearfix bg-light" *ngFor="let recipe of recipes">
            <div class="row">
                <div class="col-auto">
                    <img [src]="recipe.imgPath" alt="" class="img-responsive" style="max-height: 40px;">
                </div>
                <div class="col">
                    <h4 class="list-group-item-heading"> {{recipe.name}} </h4>
                    <p class="list-group-item-text"> {{recipe.description}} </p>
                </div>
            </div>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>